*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #fafafc;
  font: 400 16px/1.5 PingFangSC-regular,Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
  line-height: 1.5;
  color: #000;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
div{
  box-sizing: border-box;
}
.search-index{
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  min-width: 320px;
  max-width: 540px;
  height: 44px;
  /* background-color: pink; */
}
.search{
  height:28px ;
  line-height:24px;
  border: 1px solid #ccc ;
  border-radius: 15px;
  flex: 1;
  margin: 8px 10px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .2) ;
}
.search::before{
  content: "";
  display: block;
  width: 35px;
  height: 28px;
  background: url("../img/sprite.png") no-repeat 15px 5px;
  background-size: 21px auto;
}
.search::after{
  content: "搜索:目的地/酒店/景点/航班号";
  display: block;
  position: absolute;
  left: 35px;
  top: 0px;

}
.user{
  width: 51px;
  height:44px ;
  /* background-color: plum; */
  font-size: 12px;
  text-align: center;
  color: #fff;
}
.user::before{
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background: url("../img/sprite.png") no-repeat 0 -35px;
  background-size: 21px auto ;
  margin: 4px auto 0px;
}
.top-img{
height: 350px;
background: url("../img/bar.jpg") no-repeat;
background-size: 100% auto;
}
.local-nav{
  display: flex;
  justify-content: center;
  height: 52px;
  align-items: center;
  border: 1px solid  #fff;
  background-color: #fff;
  border-radius: 3px;
  margin: -52px 12px 10px 12px;
  padding: 0 4px ;
  box-shadow: 0px 2px 4px rgba(0,0,0,.2);
}
.local-nav li{
  flex: 1;
  font-size: 12px;
  justify-content: center;
}
.local-nav a{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 52px;
  width: 100%;
}
.local-nav li [class^="icon-local"]{
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../img/sprite2.png") no-repeat 0px 0px;
  background-size: 40px auto;
}
.local-nav li .icon-local-around{
  background: url("../img/sprite2.png") no-repeat 0px -40px;
  background-size: 40px auto;
}
.local-nav li .icon-local-food{
  background: url("../img/sprite2.png") no-repeat 0px -80px;
  background-size: 40px auto;
}
.local-nav li .icon-local-oneday{
  background: url("../img/sprite2.png") no-repeat 0px -120px;
  background-size: 40px auto;
}
.local-nav li .icon-local-strategy{
  background: url("../img/sprite2.png") no-repeat 0px -160px;
  background-size: 40px auto;
}
/* 导航栏入口 */
.nav-common:nth-child(1){
  border-radius:8px 8px 0 0 ;
}
.nav-common:nth-child(3){
  border-radius:0 0 8px 8px ;
}
.nav-common{
  height: 65px;
  /* background-color: yellow; */
  border-bottom: 2px solid #fff;
  margin:0 12px ;
  
}
.nav-common ul{
  display: flex;
  align-items: center;
}
.nav-common ul li{
  flex: 1;
  display: flex;
  align-items: center;
  border-right: 2px solid #fff;
  
}
.nav-common ul li a{
  flex: 1;
  height: 62px;
  line-height: 62px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.nav-common ul li:last-child{
 border-right: 0px;
}
.nav-common:nth-child(1){
  background: -webkit-linear-gradient(left,#fa5a55,#fa994d);
}
.nav-common:nth-child(2){
  background: -webkit-linear-gradient(left,#4b8fed,#53bced);
}
.nav-common:nth-child(3){
  background: -webkit-linear-gradient(left,#34c2aa,#6cd557);
}
.hotel ul li:nth-child(1){
  background:url("../img/hotel.png") no-repeat bottom right;
  background-size: 73px;
}
.hotel ul li:nth-child(2){
  background:url("../img/minsu.png") no-repeat bottom left;
  background-size: 73px;
}
.hotel ul li:nth-child(3){
  background:url("../img/hot.png") no-repeat bottom right;
  background-size: 191px;
}
.flight ul li:nth-child(1){
  background: url("../img/flight.png") no-repeat bottom right;
  background-size: 53px;
}
.flight ul li:nth-child(2){
  background: url("../img/train.png") no-repeat bottom left;
  background-size: 37px;
}
.travel ul li:nth-child(1){
  background: url("../img/travel.png") no-repeat bottom right;
  background-size: 93px;
}
.travel ul li:nth-child(2){
  background: url("../img/dingzhi.png") no-repeat bottom left;
  background-size: 61px;
}

/* 侧边栏导航入口 */
.subnav-entry{
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  padding: 10px 12px;
}
.subnav-entry li{
  flex: 20%;
  height: 52px;
  margin-bottom: 5px;
}
.subnav-entry a{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 52px;
  font-size: 12px;
  color: #222;
}
[class^="subnav-icon"]{
  width: 28px;
  height: 28px;
  background-color: yellow;
  background: url("../img/subnav.png") no-repeat ;
  background-size: 28px;
}
.subnav-icon-wifi{
  background: url("../img/subnav.png") no-repeat 0 -28px ;
  background-size: 28px;
}
.subnav-icon-visa{
  background: url("../img/subnav.png") no-repeat 0 -56px ;
  background-size: 28px;
}
.subnav-icon-globalshop{
  background: url("../img/subnav.png") no-repeat 0 -84px ;
  background-size: 28px;
}
.subnav-icon-guide{
  background: url("../img/subnav.png") no-repeat 0 -112px ;
  background-size: 28px;
}
.subnav-icon-flight{
  background: url("../img/subnav.png") no-repeat 0 -140px ;
  background-size: 28px;
}
.subnav-icon-lipin{
  background: url("../img/subnav.png") no-repeat 0 -168px ;
  background-size: 28px;
}
.subnav-icon-credit{
  background: url("../img/subnav.png") no-repeat 0 -196px ;
  background-size: 28px;
}
.subnav-icon-photo{
  background: url("../img/subnav.png") no-repeat 0 -224px ;
  background-size: 28px;
}
.subnav-icon-more{
  background: url("../img/subnav.png") no-repeat 0 -252px ;
  background-size: 28px;
}
/* 销售模块 */
.sales-box{
  background-color: #fff;
}
.sales-box .sales-hd{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  /* background-color: yellow; */
}
.sales-hd h2{
  height: 30px;
}
.sales-hd h2::before{
  content: "";
  display:inline-block ;
  width: 79px;
  height: 15px;
  background: url("../img/sales-hot.png") no-repeat 0 -20px ;
  background-size: 79px;
}
.sales-hd h2::after{
  content: "";
  display:inline-block;
  width: 36px;
  height: 15px;
  background:url("../img/icon-gg.png");
  background-size: 35px;
}
.sales-hd a{
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  padding:1px 12px;
  font-size: 12px;
  color: #fff;
  background: -webkit-linear-gradient(left,#ff4e63,#ff6cc9);
}
.sales-hd a::after{
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}
.sales-bd .row{
  display: flex;
  justify-content: space-around;
  height: 116px;
  
}
.sales-bd .row:nth-child(1){
  display: flex;
  justify-content: space-around;
  height: 188px;
}
.row a{
  flex: 1;
  border-top: 1px solid #eeeeee;
}
.row a img{
  width: 100%;
}
.row a:nth-child(1){
  border-right: 1px solid #eeeeee;
}
